# TD3 - S2

Ce notebook vise à consolider les bases de Python vues en TD, en introduisant quelques notions d’algorithmique évoluées(fonctions, boucles imbriquées, compréhension, tri, structures de données).

**Consigne générale :** pour chaque exercice, corrigez uniquement les lignes marquées `# CORRECTION REQUISE` ou complétez les `...`.

**Important :** ne modifiez pas les `print` : le correcteur automatique s’appuie sur leur contenu.

## Identification

Complétez les informations dans la cellule suivante.

In [ ]:
# Complétez les informations entre les guillemets.
nom = "..."
prenom = "..."
classe = "M1-TILT"

## Importations

Exécutez cette cellule une seule fois.

In [ ]:
import math
from collections import Counter

## Exercice 1 : calculer un coût total avec conversion de types

In [ ]:
nb_heures = "12"
tarif = 25

# CORRECTION REQUISE (convertir correctement)
cout_total = nb_heures * tarif

print(f"Résultat Q1 : {cout_total} €")

## Exercice 2 : extraire une sous-chaîne par indices

In [ ]:
phrase = "initiation à python pour le tal"

# CORRECTION REQUISE (renseigner les bons indices de découpe pour obtenir 'python')


reponse_Q2 = {'deb': 1, 'fin': 4}  # Exemple de valeurs
print("Résultat Q2 :", reponse_Q2)

## Exercice 3 : écrire une condition composée

In [ ]:
note = 14

# CORRECTION REQUISE (valeur_Q3 doit être True si 10 <= note < 16)
if note >= 10 or note < 16:
    valeur_Q3 = True
else:
    valeur_Q3 = False

print(f"Résultat Q3 : {valeur_Q3}")

## Exercice 4 : nettoyer une chaîne de caractères

In [ ]:
texte = "  Python, TAL!  "

# CORRECTION REQUISE (obtenir exactement 'python tal')
valeur_Q4 = texte.strip().lower()

print(f"Résultat Q4 : {valeur_Q4}")

## Exercice 5 : choisir la structure adaptée

In [ ]:
# Quel type de structure garantit l'unicité des éléments ?
# 1) list   2) set   3) dict   4) tuple
# Renseignez ici le numéro du choix (1, 2, 3 ou 4)
reponse_Q5 = 0

print(f"Résultat Q5 : {reponse_Q5}")

## Exercice 6 : modifier une liste avec insert et pop

In [ ]:
outils = ["tal", "nlp", "python"]

# CORRECTION REQUISE
outils.add("spacy")          # erreur : mauvaise méthode
outils.pop(0)               # erreur : on veut retirer le dernier élément

print(f"Résultat Q6 : {outils}")

## Exercice 7 : compter avec une boucle et enumerate

In [ ]:
mots = ["corpus", "tal", "annotation", "nlp", "python"]
compteur = 0

# CORRECTION REQUISE (compter les mots de longueur > 4)
for i, mot in enumerate(mots):
    if len(i) > 4:
        compteur += 1

print(f"Résultat Q7 : {compteur}")

## Exercice 8 : utiliser une compréhension de liste

In [ ]:
# CORRECTION REQUISE (liste des carrés des nombres pairs strictement inférieurs à 10)
resultat_Q8 = [n**2 for n in range(10) if n % 2 == 1]

print(f"Résultat Q8 : {resultat_Q8}")

## Exercice 9 : compter des occurrences avec un dictionnaire

In [ ]:
tokens = ["tal", "est", "cool", "tal", "python"]

# CORRECTION REQUISE (dictionnaire {token: fréquence})
resultat_Q9 = {t: 1 for t in tokens}

print(f"Résultat Q9 : {resultat_Q9}")

## Exercice 10 : écrire une boucle while correcte

In [ ]:
compteur = 3
resultat_Q10 = []

# CORRECTION REQUISE (obtenir [3, 2, 1])
while compteur < 0:
    resultat_Q10.append(compteur)
    compteur -= 1

print(f"Résultat Q10 : {resultat_Q10}")

## Exercice 11 : définir une fonction simple

In [ ]:
def normaliser_token(tok):
    """Retourne tok en minuscules, sans espaces de bord, sans ponctuation finale (. , ! ?)."""
    # CORRECTION REQUISE
    return tok.lower()

valeur_Q11 = normaliser_token("  TAL! ")
print(f"Résultat Q11 : {valeur_Q11}")

## Exercice 12 : utiliser un paramètre par défaut

In [ ]:
def addition(a, b=10):
    # CORRECTION REQUISE (retourner la somme)
    return a

valeur_Q12 = addition(7)
print(f"Résultat Q12 : {valeur_Q12}")

## Exercice 13 : trier une liste avec key

In [ ]:
mots = ["tal", "annotation", "python", "nlp"]
paires = [(m, len(m)) for m in mots]

# CORRECTION REQUISE (trier par longueur décroissante)
paires_triees = sorted(paires)

print(f"Résultat Q13 : {paires_triees}")

## Exercice 14 : manipuler des ensembles

In [ ]:
A = {1, 2, 3}
B = {3, 4}

# CORRECTION REQUISE (intersection puis union)
intersection = A | B
union = A & B

resultat_Q14 = {'intersection': intersection, 'union': union}
print(f"Résultat Q14 : {resultat_Q14}")

## Exercice 15 : gérer une erreur avec try et except

In [ ]:
x = 0

# CORRECTION REQUISE (si division impossible, valeur_Q15 doit valoir None)
valeur_Q15 = 10 / x

print(f"Résultat Q15 : {valeur_Q15}")

## Exercice 16 : implémenter un factoriel itératif

In [ ]:
n = 5
fact = 1

# CORRECTION REQUISE (calculer 5! = 120)
for k in range(n):
    fact *= k

print(f"Résultat Q16 : {fact}")

Résultat Q16 : 0

## Exercice 17 : trouver un maximum et sa position

In [ ]:
valeurs = [3, 10, 7]

# CORRECTION REQUISE
m = min(valeurs)
i = valeurs.index(m)

resultat_Q17 = {'max': m, 'index': i}
print(f"Résultat Q17 : {resultat_Q17}")

## Exercice 18 : produire des bigrammes

In [ ]:
tokens = ["tal", "est", "cool"]
bigrams = []

# CORRECTION REQUISE (liste de tuples (tokens[i], tokens[i+1]))
for i in range(len(tokens)):
    bigrams.append((tokens[i], tokens[i]))

print(f"Résultat Q18 : {bigrams}")

## Exercice 19 : construire un dictionnaire avec zip

In [ ]:
cles = ["a", "b", "c"]
valeurs = [1, 2, 3]

# CORRECTION REQUISE (obtenir {'a':1, 'b':2, 'c':3})
resultat_Q19 = dict(zip(valeurs, cles))

print(f"Résultat Q19 : {resultat_Q19}")

## Exercice 20 : filtrer avec une compréhension

In [ ]:
# CORRECTION REQUISE (nombres de 0 à 9 qui ne sont pas divisibles par 3)
resultat_Q20 = [n for n in range(10) if n % 3 == 0]

print(f"Résultat Q20 :", resultat_Q20)

## Exercice 21 : choisir la bonne complexité

In [ ]:
# En moyenne, quel est l'ordre de grandeur du temps d'accès à une valeur par clé dans un dict Python ?
# 1) O(1)   2) O(log n)   3) O(n)   4) O(n log n)
reponse_Q21 = 0

print(f"Résultat Q21 :", reponse_Q21)

## Exercice 22 : calculer une moyenne et un écart-type

In [ ]:
valeurs = [2, 4, 4, 4, 5, 5, 7, 9]

# CORRECTION REQUISE (variance population : division par n)
moyenne = sum(valeurs) / len(valeurs)
variance = sum((x - moyenne)**2 for x in valeurs) / (len(valeurs) - 1)
ecart_type = math.sqrt(variance)

resultat_Q22 = {'moyenne': moyenne, 'ecart_type': ecart_type}
print(f"Résultat Q22 :", resultat_Q22)

## Exercice 23 : renseigner une valeur calculée

In [ ]:
tokens = ["tal", "tal", "python", "nlp", "python", "spacy"]

# Calculez le nombre de tokens distincts, puis renseignez la valeur.
reponse_Q23 = 0  # CORRECTION REQUISE

print(f"Résultat Q23 :", reponse_Q23)

## Exercice 24 : écrire une fonction de recherche linéaire

In [ ]:
def contient_liste(valeurs, cible):
    """Retourne True si cible est dans valeurs, sinon False."""
    # CORRECTION REQUISE (ne pas utiliser 'in')
    for v in valeurs:
        if v == cible:
            return False
    return True

valeur_Q24 = contient_liste([1, 4, 9], 4)
print(f"Résultat Q24 :", valeur_Q24)

## Exercice 25 : écrire une fonction récursive simple

In [ ]:
def somme_n(n):
    """Retourne 1+2+...+n (n>=1)."""
    # CORRECTION REQUISE
    if n == 1:
        return 1
    return n + somme_n(n-2)

valeur_Q25 = somme_n(5)
print(f"Résultat Q25 :", valeur_Q25)

## Exercice 26 : produire un dictionnaire par compréhension

In [ ]:
mots = ["tal", "python", "spacy"]

# CORRECTION REQUISE (dictionnaire {mot: longueur})
resultat_Q26 = [(m, len(m)) for m in mots]

print(f"Résultat Q26 :" , resultat_Q26)

## Exercice 27 : sélectionner les deux plus grandes valeurs

In [ ]:
valeurs = [4, 1, 9, 2, 7]

# CORRECTION REQUISE (obtenir [9, 7])
resultat_Q27 = sorted(valeurs)[:2]

print(f"Résultat Q27 :", resultat_Q27)

Résultat Q27 : [1, 2]

## Exercice 28 : filtrer des stopwords

In [ ]:
phrase = "le tal et la python"
stopwords = {"le", "la", "les"}

tokens = phrase.split()

# CORRECTION REQUISE (retirer les stopwords)
tokens_filtres = [t for t in tokens if t in stopwords]

print(f"Résultat Q28 :", tokens_filtres)

Résultat Q28 : ['le', 'la']

## Exercice 29 : produire toutes les paires entre deux listes

In [ ]:
verbes = ["analyser", "extraire"]
noms = ["corpus", "termes", "tokens"]

paires = []

# CORRECTION REQUISE (toutes les combinaisons verbe-nom)
for v in verbes:
    for n in noms[:2]:
        paires.append((v, n))

print(f"Résultat Q29 :", paires)

Résultat Q29 : [('analyser', 'corpus'), ('analyser', 'termes'), ('extraire', 'corpus'), ('extraire', 'termes')]

## Exercice 30 : implémenter l'algorithme d'euclide

In [ ]:
a, b = 48, 18

# CORRECTION REQUISE (pgcd attendu : 6)
while b == 0:
    a, b = b, a % b

valeur_Q30 = a
print(f"Résultat Q30 :", valeur_Q30)

Résultat Q30 : 48